{{if .Awards}}
    <div class="awards">
        <div class="subtitle">Awards</div>
        {{ range .Awards}}
            <div class="item">
                <a> {{.Title}}</a>
                {{if .Date}}
                    <small class="value">Date: {{.Date}}</small>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}