{{if .Awards}}
    <div class="awards">
        <div class="subtitle">Awards</div>
        {{ range .Awards}}
            <div class="item">
                <a {{if .URL}}href="{{.URL}}"{{end}} >{{.Title}}</a>
                {{if .Score}}
                    <small class="value">Score: {{.Score}}</small>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}